<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

<link rel="icon" type="imagem/png" href="/img/logoAba.png" />

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Buscar</title>
<link href="/css/cabecalho.css" type="text/css" rel="stylesheet" />
<link href="/css/busca.css" type="text/css" rel="stylesheet" />
<link href="/css/card.css" type="text/css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/0c25c3c076.js"
	crossorigin="anonymous"></script>
</head>
<body>

	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
		<label class = "logo"><img src="/img/logoNav.png"></label>
		<ul class = "list">
			<li><a href="/">Inicio</a></li>
			<li><a href="/produtos/cadastrar">Cadastrar produto</a></li>
			<li><a href="#">Sobre</a></li>
			<li>
			</li>
		</ul>
		
	</nav>

	<!-- botao whatsapp -->
	<button class="btn-whatsapp">
		<a
			href="https://api.whatsapp.com/send?phone=5584987088658&text=Ol%C3%A1"
			target="_blank"> <i class="fa fa-whatsapp"></i>
		</a>
	</button>


	<div class="corpoBusca">
		<form th:action="@{/produtos/mostrar}" method="get">
		
		<div th:if="${msgSucesso} != null">
				<b th:text="${msgSucesso}" style="color: #2A4F7B;"></b>
				<br>
			</div>
			
			<div th:if="${msgErro} != null">
				<b th:text="${msgErro}" style="color: Red;"></b>
				<br><br>
			</div>
			
			<div class="campo_text">
				<input type="text" th:name="nome" class="input" placeholder="Digite o que você procura">
				<input class="btn" type="submit" value="Buscar">
				
				<div class="check">
					<input type="checkbox" th:name="mostrarTodosDados" th:value="true">
					<label>Mostrar todos os dados</label>
				</div>
			</div>
			
			
			
			<div class="nomeProduto">
				<div class="barra"></div>
				<h2>
					Buscando por: <span th:text="${nomeBuscado}"></span>
				</h2>
			</div>

		</form>
		
		<div th:if="${not #lists.isEmpty(produtosEncontrados)}">
			<table>
				<tr>
					<th>titulo</th>
					<th>Fabricante</th>
					<th>Categoria</th>
					<th>Preço venda</th>
					<th th:if="${mostrarTodosDados} == true">Preço custo</th>
					<th th:if="${mostrarTodosDados} == true">Descrição</th>
					<th>Opções</th>
				</tr>
			
					<tr th:each="p : ${produtosEncontrados}">
						<td th:text="${p.titulo}"></td>
						<td th:text="${p.fabricante}"></td>
						<td th:text="${p.categoria}"></td>
						<td th:text="${p.precoVenda}"></td>
						<td th:if="${mostrarTodosDados} == true"
							th:text="${p.precoCusto}"></td>
						<td th:if="${mostrarTodosDados} == true"
							><p th:text="${p.descricao}"></p></td>
							
						<td>
						
						<a th:href="'/produtos/editar/' + ${p.id}">Editar</a>
						
						<a th:href="'/produtos/remove/' + ${p.id}"
							onClick="if (!confirm('Deseja realmente remover o produto?')) return false;">Remover</a>
						
						</td>
						
						
					</tr>
				
				
			</table>
		</div>
		
		<!-- EXIBIÇÃO 2 Produtos 
		
		<div class="conteudo_ofertas">
			<div class="box_product">
			
				<div class="image">
					<img alt="" src="/img/fone.png">
				</div>
				
				<div class="legend">
					<h3 class="title">Fone</h3>
					<div class="subLegend">
						<div class="preco">R$ 1.000,00 <span>A vista</span></div>
					 <div class="stars">
							<img alt="" src="/img/cart.png"> 
						</div> 
					</div>
				</div>
				<div class="overlay">
					<a href="#" style="--i:1;"><img alt="" src="/img/logoNav.png"></a>
				</div>
			</div>
			
			
			<div class="box_product">
			
				<div class="image">
					<img alt="" src="/img/fone.png">
				</div>
				
				<div class="legend">
					<h3 class="title">Fone</h3>
					<div class="subLegend">
						<div class="preco">R$ 1.000,00 <span>A vista</span></div>
						<div class="stars">
							<i class="fas fa-star"></i> 
							<i class="fas fa-star"></i> 
							<i class="fas fa-star"></i> 
							<i class="fas fa-star"></i> 
							<i class="fas fa-star-half"></i> 
						</div>
					</div>
				</div>
				<div class="overlay">
					<a href="#" style="--i:1;" class="fas fa-shopping-cart"></a>
					<a href="#" style="--i:2;" class="fas fa-heart"></a>
					<a href="#" style="--i:3;" class="fas fa-search"></a>
				</div>
			</div>
		</div> 
		-->
	</div>


	
	






	<!-- rodape -->
	<footer>
		<div class="main-content">
			<div class="left box">
				<h2>Atendimento</h2>
				<div class="content">
					<p>
						<br> • Segunda a Sabádo das 08:00 às 19:30hs<br> • e aos
						Domingos das 07:30 às 12:30hs
					</p>

					<div class="social">
						<a href="https://www.instagram.com/rlj.importados/"><span
							class="fab fa-instagram"></span></a> <a href="#"><span
							class="fab fa-whatsapp"></span></a>
					</div>

					<br>
					<h2>Formas de Pagamento</h2>
					<img alt="" style="width: 200px;" src="/img/cart.png">

				</div>
			</div>
			<div class="center box">
				<h2>Endereço</h2>
				<div class="content">
					<div class="place">
						<span class="fas fa-map-marker"></span> <span class="text">Av.
							Manoel rodrigues, 1002 - Poço Branco/RN</span>
					</div>

					<div class="phone">
						<span class="fas fas fa-phone-alt"></span> <span class="text">(84)
							98708-8658</span>
					</div>

					<div class="email">
						<span class="fas fa-envelope"></span> <span class="text">Leandro.barbosa208@outlook.com</span>
					</div>
				</div>
			</div>
			<div class="right box">
				<h2>Contato</h2>
				<div class="content">
					<form action="#">
						<div class="email">
							<div class="text">Email *</div>
							<input type="email" required>
						</div>
						<div class="msg">
							<div class="text">Mensagem *</div>
							<textarea rows="2" cols="25" required></textarea>
						</div>
						<div class="btn-ctt">
							<button type="submit">Enviar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="center">
				<span class="credit">Criado por <a
					href="https://github.com/Leandro208">Leandro Barbosa</a></span> <span
					class="far fa-copyright"> 2022 Todos os direitos reservados</span>
			</div>
		</div>
	</footer>
</body>
</html>