<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	
	<link rel="icon" type="imagem/png" href= "img/logoAba.png" />
	
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Inicio</title>
	<link href="css/cabecalho.css" type="text/css" rel="stylesheet" />	
	<script src="https://kit.fontawesome.com/0c25c3c076.js" crossorigin="anonymous"></script>
</head>


<body>
	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
		<label class = "logo"><img src="img/logoNav.png"></label>
		<ul class = "list">
			<li><a href="#">Inicio</a></li>
			<li><a href="#">Categorias <i class="fas fa-caret-down"></i></a>
				<ul>
					<li><a href="#">Fone de ouvido</a></li>
					<li><a href="#">Carregadores</a></li>
					<li><a href="#">Cabos</a></li>
					<li><a href="#">Caixa de som</a></li>
					
				</ul>
			</li>
			<li><a href="#">Contato</a></li>
			<li><a href="#">Sobre</a></li>
		</ul>
		
	</nav>
	<section>
		<h1>Conteudo </h1>
	</section>
	
	
</body>
</html>