<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	
	<link rel="icon" type="imagem/png" href= "img/logoAba.png" />
	
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>RLJ IMPORT'S - ATACADO E VAREJO</title>
	<link href="css/cabecalho.css" type="text/css" rel="stylesheet" />	
	<link href="css/inicio.css" type="text/css" rel="stylesheet" />
	<link href="css/card.css" type="text/css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/0c25c3c076.js" crossorigin="anonymous"></script>
	
</head>

<body>
	<nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
		<label class = "logo"><img src="img/logoNav.png"></label>
		<ul class = "list">
			<li><a href="/">Inicio</a></li>
			<li><a href="/produtos/cadastrar">Cadastrar produto</a></li>
			<li><a href="#">Sobre</a></li>
			<li>
			<form th:action="@{/produtos/mostrar}" method="get">
			
				<input type="text" th:name="nome" class="input" placeholder="Digite o que você procura" required>
				<input class="btn" type="submit" value="Buscar">
				
			</form>
			</li>
		</ul>
		
	</nav>
	
	<!-- botao whatsapp -->
	<button class="btn-whatsapp">
		<a href="https://api.whatsapp.com/send?phone=5584987088658&text=Ol%C3%A1" target="_blank">
			<i class="fa fa-whatsapp"></i>
		</a>
	</button>
	
	<!-- carousel -->
	<div id="slider">
		<figure>
			<a href="#"><img alt="" src="img/1.png"></a>
			<a href="#"><img alt="" src="img/2.png"></a>
			<a href="#"><img alt="" src="img/3.png"></a>
			<a href="#"><img alt="" src="img/2.png"></a>
			<a href="#"><img alt="" src="img/1.png"></a>
		</figure>
	</div>
	
	<div class="info">
			<img src="img/receba.png">
			<img alt="" src="img/cartao.png">
			<img alt="" src="img/garantia.png">
	</div>


	<div class="campo_ofertas">
		<div class="ofertas">
			<div class="barra"></div>
			<h2>Nossas Ofertas</h2>
		</div>
		
		<!-- Produtos -->
		
		<div class="conteudo_ofertas" th:if="${not #lists.isEmpty(produtosEncontrados)}">
			<div class="box_product" th:each="p : ${produtosEncontrados}">
			
				<div class="image">
					<img th:if="${p.foto != null}" th:src="@{/download/} + ${p.foto.id} + '?salvar=false'" style="max-height: 128px;" />
				</div>
				
				<div class="legend">
					<h3 class="title" th:text="${p.titulo}"></h3>
					<div class="subLegend">
						<div class="preco" th:text="'R$ ' + ${p.precoVenda}"></div><label>A Vista</label>
						
					 <div class="stars">
							<img alt="" src="img/cart.png"> 
						</div> 
					</div>
				</div>
				<div class="overlay">
					<a th:href="'/produtos/detalhes/' + ${p.id}" style="--i:1;"><img alt="" src="img/logoNav.png"></a>
				</div>
			</div>
		</div>
	</div>


	<!-- rodape -->
	<footer>
		<div class="main-content">
			<div class="left box">
				<h2>Atendimento</h2>
				<div class="content">
					<p> <br>
					    • Segunda a Sabádo das 08:00 às 19:30hs<br>
					    • e aos Domingos das 07:30 às 12:30hs</p>
				
				<div class="social">
					<a href="https://www.instagram.com/rlj.importados/"><span class="fab fa-instagram"></span></a>
					<a href="#"><span class="fab fa-whatsapp"></span></a>
				</div>
				
				<br>
				<h2>Formas de Pagamento</h2>
				<img alt="" style="width: 200px;" src="img/cart.png"> 
				
				</div>
			</div>
			<div class="center box">
				<h2>Endereço</h2>
				<div class="content">
					<div class="place">
						<span class="fas fa-map-marker"></span>
						<span class="text">Av. Manoel rodrigues, 1002 - Poço Branco/RN</span>
					</div>	
					
					<div class="phone">
						<span class="fas fas fa-phone-alt"></span>
						<span class="text">(84) 98708-8658</span>
					</div>	
					
					<div class="email">
						<span class="fas fa-envelope"></span>
						<span class="text">Leandro.barbosa208@outlook.com</span>
					</div>	
				</div>
			</div>
			<div class="right box">
				<h2>Contato</h2>
				<div class="content">
					<form action="#">
						<div class="email">
							<div class="text">Email *</div>
							<input type="email" required>
						</div>
						<div class="msg">
							<div class="text">Mensagem *</div>
							<textarea rows="2" cols="25" required></textarea>
						</div>
						<div class="btn-ctt">
							<button type="submit">Enviar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="center">
				<span class="credit">Criado por <a href="https://github.com/Leandro208">Leandro Barbosa</a></span>
				<span class="far fa-copyright"> 2022 Todos os direitos reservados</span>
			</div>
		</div>
	</footer>

</body>
</html>